* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
  background: url("./images/splash.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.App:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #AD978A, #1FB9F9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #AD978A, #1FB9F9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: -webkit-linear-gradient(to bottom, #DCCB18, #43676B);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to bottom, #DCCB18, #43676B);*/
  opacity: .6;
}

header {
  width: 100%;
  z-index: 1;
}
main {
  width: 100%;
  z-index: 1;
  padding-top: 25px;
}
footer {
  width: 100%;
  z-index: 1;
}

main > * {
  margin: auto;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.nav {
  width: 100%;
  background-color: #43676B;
  box-shadow: 0 2px 5px black;
  display: grid;
  grid-template-areas: 'links login';
  align-items: center;
  padding: 0 30px 0 0;
  min-height: 80px;
  justify-content: normal;
}

.nav-list {
  grid-area: links;
  margin: inherit;
  list-style-type: none;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.nav li a:hover  {
  color: #E80C7A;
  cursor: pointer;
}

.nav li a.active {
  color: #E80C7A;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav-icon {
  font-size: 1.5em;
  margin: auto;
  min-width: 75px;
}

.nav-icon + span {
  font-size: .8em;
  display: block;
}

.login {
  max-width: 370px;/* 300px;*/
  /*max-height: 400px;*/
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  border: 2px #000 solid;
  margin: auto;
  z-index: 1;
}
.login h1 {
  font-weight: normal;
}

.app-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 330px;
}

.app-title-sm-text {
  font-family: 'Covered By Your Grace', cursive;
  line-height: .75em;
  font-size: 21px;
}
.app-title h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Barrio', futura, monospace;
  margin: 0;
}

.pink-text {
  color: #E80C7A;
}

.app-title img {
  width: 76px;
  margin-right: 5px;
}

img.pink-underscore {
  width: 150px;
}

.underscore {
  max-width: 225px;
  height: 16px;
  background-color: #E80C7A;
  margin: 5px auto;
}

.app-title-text {
  max-width: 260px;
  margin-bottom: 56px;
}


.form-title {
  font-size: 18px;
  margin: 25px 8px 8px 8px;
  color: #E80C7A;
}

form select, form input[type=submit] {
  width: 100%;
  height: 3em;
  margin: 5px 0;
}

.login form input[type=submit] {
  -webkit-appearance: inherit;
  border-radius: 5px;
  font-weight: bold;
  background-color: #E80C7A;
}

.question-list {
  max-width: 420px;/* 300px;*/
  width: 100%;
  color: white;
}

.question-list-nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: initial;
  margin: auto;
}


.question-list-nav li {
  list-style-type: none;
  width: 50%;
  padding: 1.5em 0;
  background-color: #E80C7A;
}

.question-list-nav .unanswered,
.question-list-nav .answered {
  border-radius: 15px 15px 0 0;
}

.question-list-nav li[data-toggle-on="false"] {
  background-color: #9C185A;
}

.question-list-nav li[data-toggle-on="false"]:hover {
  color: #AD978A;
  cursor: pointer;
}

.unanswered-questions-list, .answered-questions-list {
  border: #E80C7A 2px solid;
  background: white;
  border-radius: 0 0 15px 15px;
  padding: 20px 10px;
  z-index: 1;
  position: relative;
}

.unanswered-questions-list[data-show='true'],
.answered-questions-list[data-show='true'] {
   display: block;
}

.unanswered-questions-list[data-show='false'],
.answered-questions-list[data-show='false'] {
  display: none;
}

.avatar-image img {
  max-width: 130px;
  width: 100%;
  clip-path: circle(48%);
}

.question-card {
  background: #9C185A;
  margin: 10px auto;
  border-radius: 5px;
  max-width: 420px;
}
.question-card a {
  text-decoration: none;
  width: 100%;
  display: block;
}

.question-card-details {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 10px 20px 0;
  border: #9C185A 1px solid;
  background: white;
  border-radius: 0 0 5px 5px;
  align-items: center;
  font-size: 20px;
}

.question-card-details button,
.question-card-details input[type="button"],
.question-card-details input[type="submit"] {
  border-radius: 3px;
  background: white;
  border: #9C185A 1px solid;
  color: #9C185A;
  font-size: 15px;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
}

.question-card-author {
  padding: 10px;
  color: white;
  text-align: left;
}

.avatar-image {
  width: 40%;
}

.question-card-text {
  min-width: 60%;
  color: black;
  font-size: 14px;
}

/*.question-card-text p {*/
  /*margin: 0;*/
/*}*/

.question-card-text-header {
  font-weight: bold;
  font-size: 20px;
  color: #9C185A;
  margin: 0;
}

.question-details-page {
  text-align: left;
}

.question-details-page form {
  margin-top: 25px;
}

.question-details-page label {
  display: block;
}

.poll-detail {
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
}

.poll-detail.false {
  color: black;
  background: rgba(173,151,138, .2);
  border: #AD978A 1px solid;
}

.poll-detail.true {
  background: rgba(156,24,90, .2);
  color: #9C185A;
  border: #9C185A 1px solid;
}

.poll-detail-text {
  margin: 5px;
  font-weight: bold;
}

.progress-bar {
  height: 25px;
  background: #AD978A;
  position: relative;
  margin: 5px 0;
  border-radius: 3px;
}

.inner-progress-bar {
  z-index: 1;
  background: #9C185A;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 1.5em;
  border-radius: 3px;
  text-align: right;
  color: white;
}

.inner-progress-bar span {
  padding: 0 5px;
}

.leaderboard {
  max-width: 420px;
}

.new-question-form {
  max-width: 420px;
  border: 1px solid #9C185A;
  padding: 10px;
  border-radius: 8px;
  background: white;
}

.new-question-form form input {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #9C185A;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.new-question-form form input[type="submit"] {
  color: white;
  background: #9C185A;
  margin-top: 10px;
}

img.user-img-icon {
  max-width: 58px;
  width: 100%;
  clip-path: circle(48%);
}

.logout:hover {
  cursor: pointer;
  color: #E80C7A;
}

.user-login-nav {
  grid-area: login;
  color: white;
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
}

.username {
  display: block;
  white-space: nowrap;
}

.user-login-nav > * {
  margin: 0 5px;
}

.error-page {
  font-size: 30px;
  color: #E80C7A;
  text-shadow: 0px 0px 20px white;
  font-weight: bold;

}

.error-page .error-msg-404 {
  font-size: 100px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*display nav icons*/
@media only screen and (max-width: 710px) {
  .nav {
    justify-content: space-between;
  }
  .nav-icon + span {
    font-size: .5em;
  }

}
/*place nav icons on their own line*/
@media only screen and (max-width: 550px) {
  .nav {
    padding: 0;
    grid-template-areas: 'login' 'links';
    justify-content: stretch;
  }
  .nav-list {
    padding: 5px 0 10px 0;
  }
  .user-login-nav {
    margin: 10px;
    font-size: .8em;
  }
  img.user-img-icon {
    max-width: 40px;
  }
}

/*media query for login*/
@media only screen and (max-width: 370px) {
  .app-title {
    flex-flow: column nowrap;
  }
  .app-title img {
    width: 50px;
  }
  .app-title h2 {
    font-size: 37px;
  }
  .app-title-text {
    margin-bottom: 15px;
  }
  .underscore {
    height: 8px;
  }
  .form-title {
    margin-top: 10px;
  }
}